<?xml version="1.0" encoding="utf-8"?>
<manifest>
    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="$uexGaodeNavi_appKey$"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
</manifest>